.test {
  float: left; }

.search_wrap {
  background: lightgrey;
  width: 712px;
  padding: 3px 0; }

.page.block_search {
  padding: 0 0 0 50px;
  border: 1px solid #b4b4b4;
  background: #c4c4c4;
  border-radius: 3px;
  width: 760px !important; }

/*=======
search form
  =======*/
.th_header_v2_search {
  /*background: #fff;*/
  width: 703px;
  height: 40px;
  position: relative; }

.th_header_v2_search_text {
  width: 640px;
  height: 30px !important;
  margin-left: 3px;
  border: none;
  background-color: #fff;
  padding: 0px 0px 0px 10px;
  font-size: 16px; }

.th_header_v2_search_submit {
  width: 25px;
  height: 37px;
  background: url("../images/th_header_v2_lupa.gif") 0px -12px white no-repeat;
  cursor: pointer;
  border: none;
  padding: 0px;
  position: relative;
  left: -32px;
  top: 2px; }

.th_header_v2_search_submit:hover {
  background: url("../images/th_header_v2_lupa.gif") 0px -72px white no-repeat; }

.th_header_v2_search_advanced {
  height: 17px;
  font-style: italic;
  font-size: 17px;
  color: #9b3333;
  line-height: 14px;
  margin-top: 12px;
  position: relative;
  left: -10px; }

/*=======
end search form
       =======*/
.line_second {
  margin: 0px 0px 0px 146px; }

.header_carousel {
  height: 300px; }

.header_carousel_imgbox {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  height: 300px;
  width: 100%; }

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  overflow: hidden;
  width: 100%;
  display: none; }

.index_search_form {
  background: url("../img/sprite.png") no-repeat -3px -119px;
  height: 50px;
  position: relative;
  right: 10px;
  display: inline-block;
  text-align: center; }
  .index_search_form .menu {
    height: 25px;
    width: 25px; }
    .index_search_form .menu img {
      display: block;
      width: 100%;
      height: 100%; }
  .index_search_form .wrapper {
    background: url("../img/sprite.png") no-repeat 100% -119px;
    height: 100%;
    position: relative;
    left: 10px;
    padding-right: 10px;
    line-height: 50px; }
    .index_search_form .wrapper .separator {
      background: url("../img/sprite.png") no-repeat -16px -57px;
      width: 5px;
      height: 50px;
      float: left;
      margin: 0 5px; }
  .index_search_form .btn {
    padding: 2px 10px; }
  .index_search_form .btn_home {
    background: url("../img/sprite.png") no-repeat;
    background-position: 23px -57px;
    height: 50px;
    width: 43px;
    cursor: pointer;
    margin-right: 5px; }
    .index_search_form .btn_home .icon {
      background: url("../img/sprite.png") no-repeat;
      background-position: -45px 3px;
      height: 100%; }
      .index_search_form .btn_home .icon:hover {
        background-position: 0px 3px; }

.btn_action,
.btn_placement,
.btn_price,
.btn_amt {
  position: relative;
  cursor: pointer;
  min-width: 60px; }

.btn_amt {
  min-width: 30px; }

.hover .btn_ul_wrap {
  display: block; }
.hover .check {
  padding: 0 0 0 10px;
  background: #ccc; }

.btn_ul_wrap {
  position: absolute;
  outline: 1px solid #ccc;
  width: 100%;
  top: 50px;
  left: -7px;
  display: none; }
  .btn_ul_wrap .ul_box {
    background: url("../img/bg/search_ul.png") repeat-y -33px 11px;
    list-style: none;
    padding: 0 0 15px 0;
    margin: 0;
    position: relative; }
    .btn_ul_wrap .ul_box li {
      height: 25px;
      line-height: 25px;
      padding: 0 5px; }
      .btn_ul_wrap .ul_box li.ul_downer_line {
        position: absolute;
        height: 40px;
        width: 100%;
        bottom: -40px;
        padding: 0; }
        .btn_ul_wrap .ul_box li.ul_downer_line i {
          display: inline-block;
          width: 50%;
          height: 40px; }
          .btn_ul_wrap .ul_box li.ul_downer_line i:nth-child(1) {
            background: url("../img/sprite.png") repeat-y 0 -193px;
            margin: 0 0 0 -1px;
            /*for outline*/
            padding: 0 1px 0 0px;
            /*for outline*/ }
          .btn_ul_wrap .ul_box li.ul_downer_line i:nth-child(2) {
            background: url("../img/sprite.png") repeat-y 100% -193px; }

.btn_advert span {
  cursor: pointer; }

.box_block {
  width: 232px;
  height: 205px;
  background: #ccc;
  border-radius: 3px;
  border: 1px solid #333;
  float: left;
  margin: 5px;
  cursor: pointer;
  position: relative; }
  .box_block:hover {
    border: 1px solid #39cff8;
    border-top: 1px solid #39cff8;
    border-bottom: 1px solid #39cff8;
    background: #e2c2f1;
    color: #333; }
  .box_block .wrap {
    width: 229px;
    /*-border 2px*/
    margin: 0px auto 5px;
    border-radius: 3px;
    border: 1px solid #a9a9a9; }
    .box_block .wrap img {
      display: block;
      width: 100%;
      max-height: 157px; }
  .box_block.panel_news {
    background: #eee;
    padding: 15px;
    border-color: #e3e3e3;
    width: 284px;
    height: auto; }
    .box_block.panel_news h5 {
      font-size: 20px;
      margin-bottom: 10px; }
    .box_block.panel_news p {
      color: #606060;
      line-height: 1.4;
      font-size: 15px; }
    .box_block.panel_news a {
      color: #00b0ff;
      text-decoration: none; }
      .box_block.panel_news a:hover {
        border-bottom: 1px solid; }

.index_price {
  position: absolute;
  right: 0px;
  bottom: 4px;
  background: #ffc504;
  color: #f00;
  display: block;
  height: 40px;
  width: 70px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  font-size: 17px;
  font-family: tahoma; }
