body {
  background: url("../img/bg/main_bg.jpg") repeat;
}
.personal_menu_line {
  height: 35px;
  width: 100%;
  background: url('../img/bg/bg-pattern.png') repeat;

  .photo img {
    width: 35px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin: -1px 0px 0px 0px;
    background: rgb(230, 230, 230);
    padding: 3px;
  }
  .menu {
    padding: 10px 0px 0px 0px;
    a {
      float: left;
      margin: 0 10px;
      padding: 0px 0px 1px 0px;
      border-bottom: 1px solid #fff;
      color: #fff;
      ////border-bottom: 1px solid #0379cc;
      //color: #0379cc;
    }
    b {
      border-left: 1px solid #979797;
      width: 1px;
      height: 20px;
      float: left;
    }
  }
}


