.object_filter{
    width: 245px;
    height: 100%;
}
.object_filter_box{
    width: 245px;
    background: #F2F2F2;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.object_list{
    width: 725px;
    background: #F9F9F9;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.personal_menu_line{
    height: 35px;
    width: 100%;
    background: #dadada;
}
.personal_menu_line .menu{
    padding: 10px 0px 0px 0px;
}
.menu a{
    float: left;
    margin: 0 10px;
    padding: 0px 0px 1px 0px;
    border-bottom: 1px solid #0379cc;
    color: #0379cc;
}
.menu a:hover{
    border-bottom: 1px solid #cc3e07;
    color: #cc3e07;
}
.menu b{
    /*border-right: 1px solid #ccc;*/
    border-left: 1px solid #fff;
    width: 1px;
    height: 20px;
    float: left;
}
.personal_menu_line .photo img{
    width: 35px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin: -1px 0px 0px 0px ;
    background: rgb(230, 230, 230);
    padding: 3px;
}
.search_result{
    border-bottom: 1px solid #ccc;
}
.search_result .apartments_photo{
    width: 150px;
    padding: 0px 20px 0px 0px;
}
.apartments_photo img{
    width:100%;
    margin: 5px;
    
}
.search_result .apartments_info{
    width: 555px;
}
.thumbnail_info{
    width: 300px;
    background: #333;
}
.thumbnail_info_2{
    width: 155px;
    background: url("../img/head-texture.png") repeat-x;
    height: 100%;
}
.js__price{
    padding: 0px 15px;
    border-right: 1px solid #ccc;
}