html {
    height: 100%;
    min-height: 100%;
    width:100%;
}
body {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    text-align: left;
    height: 100%;
    min-height: 100%;
    color: #404040;
    /*background:url('//assets.tunehog.com/images/th_bg.gif') top left;*/
    width:100%;
    min-width:980;
}
body, td, div, h1, p, input, select, textarea {
    font-family: Arial, Tahoma, Verdana, Sans-Serif;
}
form {
    margin: 0;
    padding: 0;
}
input {
    outline:none;
    margin:0px;
}
b {
    font-weight: 700;
}
a, img {
    border: none;
}
a {
    text-decoration: none;
    cursor:pointer;
    outline:none;
}
a:hover u{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight:400;
}
.rl_page {
    text-align:left;
    width:980px;
    margin:0px auto;
    position:relative;
}
.rl_container {
    min-height: 100%;
    position: relative;
    width:100%;
    min-width:1002px;
}
.rl_content {
    padding-bottom:150px;
    width:100%;
}
.rl_fl {
    float:left !important;
}
.rl_fr {
    float:right !important;
}
.rl_xsmall {
    font-size:9px;
}
.rl_vsmall {
    font-size:10px;
}
.rl_small {
    font-size:11px;
}
.rl_normal {
    font-size:12px !important;
}
.rl_slarge {
    font-size:13px;
}
.rl_large {
    font-size:14px;
}
.rl_vlarge {
    font-size:14px;
}
.rl_xlarge {
    font-size:16px;
}
.rl_clear {
    display:block;
    clear: both;
    font-size: 0px;
    overflow:hidden;
    height:0px;
}
.rl_clear1 {
    clear: both;
    font-size: 0px;
    overflow:hidden;
    height:1px;
}
.rl_clear_small2 {
    clear: both;
    font-size: 1px;
    height:2px;
    display:block;
}
.rl_clear_small {
    clear: both;
    font-size: 1px;
    height:5px;
    display:block;
}
.rl_clear_medium {
    clear: both;
    font-size: 1px;
    height:10px;
    display:block;
}
.rl_clear_big {
    clear: both;
    font-size: 1px;
    height:15px;
    display:block;
}
.rl_clear_vbig {
    clear: both;
    font-size: 1px;
    height:20px;
    display:block;
}
.rl_clear_xbig {
    clear: both;
    font-size: 1px;
    height:25px;
    display:block;
}
.rl_martop_small {
    margin-top:5px;
}
.rl_martop {
    margin-top:10px;
}
.rl_martop_big {
    margin-top:15px;
}
.rl_martop_vbig {
    margin-top:20px;
}
.rl_martop_xbig {
    margin-top:25px;
}
.rl_marbot_small {
    margin-bottom:5px;
}
.rl_marbot {
    margin-bottom:10px;
}
.rl_marbot_big {
    margin-bottom:15px;
}
.rl_marbot_vbig {
    margin-bottom:20px;
}
.rl_marbot_xbig {
    margin-bottom:25px;
}
.rl_mrl_small {
    margin-left:5px!important;;
}
.rl_mrl {
    margin-left:10px !important;
}
.rl_mrl_big {
    margin-left:15px!important;;
}
.rl_mrl_vbig {
    margin-left:20px !important;
}
.rl_mrl_xbig {
    margin-left:25px !important;
}
.rl_mrt_small {
    margin-right:5px!important;;
}
.rl_mrt {
    margin-right:10px !important;
}
.rl_mrt_big {
    margin-right:15px!important;;
}
.rl_mrt_vbig {
    margin-right:20px!important;;
}
.rl_mrt_xbig {
    margin-right:25px!important;;
}
.rl_padl_small {
    padding-left:5px!important;;
}
.rl_padl {
    padding-left:10px !important;
}
.rl_padl_big {
    padding-left:15px !important;
}
.rl_padl_vbig {
    padding-left:20px !important;
}
.rl_padl_xbig {
    padding-left:30px!important;;
}
.rl_padr_small {
    padding-right:5px!important;;
}
.rl_padr {
    padding-right:10px!important;;
}
.rl_padr_big {
    padding-right:15px!important;;
}
.rl_padr_vbig {
    padding-right:20px!important;;
}
.rl_padr_xbig {
    padding-right:30px!important;;
}
.rl_text_left {
    text-align:left !important;
}
.rl_text_center {
    text-align:center;
}
.rl_text_right {
    text-align:right !important;
}
.rl_vtop {
    vertical-align:top;
}
.rl_vmid {
    vertical-align:middle !important;
}
.rl_tup {
    text-transform:uppercase;
}
.rl_notup {
    text-transform:none !important;
}
.rl_pr {
    position:relative;
}
.rl_pa {
    position:absolute;
}
.rl_pf {
    position:fixed;
}
.rl_dn {
	display:none!important;
}
.rl_db {
	display:block;
}
.rl_di {
	display:inline !important;
}
.rl_box_ins_small {
	padding:5px;
}
.rl_box_ins {
	padding:10px;
}
.rl_box_ins_big {
	padding:15px;
}
.rl_box_ins_vbig {
	padding:20px;
}
.rl_box_ins_xbig {
	padding:25px;
}
.rl_radius_vsmall {
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    position:relative;
    behavior: url(PIE.rl_htc);
}
.rl_radius_small {
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    position:relative;
    behavior: url(PIE.rl_htc);
}
.rl_radius_normal {
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    position:relative;
    behavior: url(PIE.rl_htc);
}
.rl_radius_big {
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    position:relative;
    behavior: url(PIE.htc);
}



												    /*=======
												  		 main
														 =======*/
.ins{
    text-decoration: none;
}
.pad_none{

}
.width_100{
    width: 100% !important;
    overflow: hidden;
}
.width_99{
	width: 99% !important;
    overflow: hidden;
}
.width_50{
    width: 49.3% !important;
	float :left;
}
.width_33{
    width: 32% !important;
	float:left;
}

.displ_block{
	display:block!important;
}
.displ_none{
	dispalay:none;
}
ul{
	padding:0px;
}
ul li{
	list-style:none;
}
/*button [type=submit]{*/
	/*margin:0px!important;*/
/*}*/