<!doctype html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="Stylesheet" type="text/css" href="../css/page_object_list.css" media="all">
	<link rel="stylesheet" type="text/css" href="../css/style.css" media="all"/>

	<link rel="stylesheet" type="text/css" href="../css/stuffstrap.css" media="all"/>
	<link rel="stylesheet" type="text/css" href="../css/index_page.css" media="all"/>


	<script type="text/javascript" src="../js/libs/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../js/libs/bootstrap.js"></script>

	<script type="text/javascript" src="../js/main.js"></script>

	<link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.css" media="all"/>

</head>
<body>
 <div class="page">

	 <div class="index_search_form">
		 <div class="menu fl btn mrt_small dn page_btn_home">
			  <img src="../img/changes.jpg" alt=""/>
		 </div>
	    <div class="btn mrt_small fl page_btn_action"><a>Купить</a></div>
		 <div class="btn mrt_small fl page_btn_action"><a>Снять</a></div>
		 <div class="btn btn-success  mrt_small fl page_btn_action"><a>+ Добавить обявление</a></div>
		 <div class="hide_small_search fl dn page_btn_form">
			 <div class="fl">
				 <select class="select" style="width:82px!important;">
					 <option>Комнату</option>
					 <option>Квартиру</option>
					 <option>Офис</option>
				 </select>
				 <select class="select" style="width:40px!important;">
					 <option>1</option>
					 <option>2</option>
					 <option>3</option>
					 <option>4</option>
					 <option>5+</option>
				 </select>
			 </div>
      <div class="btn-group fl" data-toggle="buttons-radio">
       <button type="button" class="btn">Долгострочно</button>
       <button type="button" class="btn">Посуточно</button>
      </div>
		 </div>
	 </div>

   <div class="clear_big"></div>
   <div class="clear_big"></div>
   <div class="clear_big"></div>

    <div class="index_search_form">
      <div class="wrapper">
        <div class="menu fl btn mrt_small dn page_btn_home">
          <img src="../img/changes.jpg" alt=""/>
        </div>
      </div>
    </div>
 </div>

</body>
</html>
